.Post data-gfyCatId="{{gfyCatId}}"
	.Post-image-container style="background-image: url({{thumbnail}})"
		/img.Post-image src="{{thumbnail}}"
	a href="https://reddit.com{{permalink}}" {{title}} ({{gfyCatId}})