#video {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	max-height: 100vh;
}

.Container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.Post {
	display: flex;
	height: 100px;

	padding-bottom: 10px;
}

.Post-image-container {
	width: 180px;
	height: 100px;
	margin-right: 10px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: right;
}

.Post-image {
	max-height: 100%;
	max-width: 100%;
}

.Header {
  display: flex;
  
}

.SubredditLink {
  padding: 20px;
  border: 1px solid black;
}